[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
setuptools-scm = "*"
numpy = "<2.0"
transformers = "*"
datasets = "*"
sentencepiece = "*"
sacremoses = "*"
nlptools = {file = ".", editable = true}
huggingface-hub = "*"

[dev-packages]
jupyterlab = "*"
ipywidgets = "*"
matplotlib = "*"
seaborn = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.3"
